body{
margin:0;
font-family:Arial;
background:#111827;
color:white;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.container{
width:380px;
background:#1f2937;
padding:20px;
border-radius:15px;
text-align:center;
box-shadow:0 0 20px rgba(0,0,0,.4);
}

#reader{
width:100%;
margin-bottom:20px;
}

button,.upload{
display:block;
width:100%;
padding:14px;
margin-top:10px;
border:none;
border-radius:10px;
background:#2563eb;
color:white;
cursor:pointer;
font-size:16px;
}

.upload input{
display:none;
}

#result{
margin-top:20px;
background:#0f172a;
padding:15px;
border-radius:10px;
word-break:break-word;
}

#openLink{
display:none;
margin-top:15px;
padding:12px;
background:#22c55e;
color:white;
text-decoration:none;
border-radius:10px;
}